@use '../../Constants';

$include: Constants.$prefix + 'include';

:root {
  --ui-hideheaderandfooter-include: #{$include};
}

#{Constants.$googleDocEmbed} > div:not(.#{$include}) {
  display: none;
}
