@use 'config';

$googleDocEmbed: '#doc-content'; // TODO #directory ?
$prefix: 'ui-';
$mobileCutoffWidthInPx: 576;

// image paths
$favicon: config.$favicon;
$background: config.$background;
$logo: config.$logo;

:root {
  --googleDocEmbed: #{$googleDocEmbed};
  --logo: #{$logo};
}

// bootstrap styling
$primaryColor: config.$primaryColor;
