@use 'Constants';

:export {
  googleDocEmbed: #{Constants.$googleDocEmbed};
  prefix: #{Constants.$prefix};
  mobileCutoffWidthInPx: #{Constants.$mobileCutoffWidthInPx};

  favicon: Constants.$favicon;
  logo: Constants.$logo;
  background: Constants.$background;
  navbarColor: #{Constants.$navbarColor};
}
