@use 'config';

$googleDocEmbed: '#doc-content'; // TODO #directory ?
$prefix: 'ui-';
$mobileCutoffWidthInPx: 576;

// image paths
$favicon: config.$favicon;
$background: config.$background;
$logo: config.$logo;

:export {
  googleDocEmbed: #{$googleDocEmbed};
  prefix: #{$prefix};
  mobileCutoffWidthInPx: #{$mobileCutoffWidthInPx};

  favicon: $favicon;
  logo: $logo;
  background: $background;
}

// bootstrap styling
$primaryColor: config.$primaryColor;
