@use 'config';

$googleDocEmbed: '#doc-content'; // TODO #directory ?
$prefix: 'ui-';
$mobileCutoffWidthInPx: 576;

$favicon: config.$favicon;
$background: config.$background;
$logo: config.$logo;
$navbarColor: config.$navbarColor;
