auto-install-peers=true
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=@tsconfig/recommended
public-hoist-pattern[]=*webpack*
public-hoist-pattern[]=*loader*
public-hoist-pattern[]=sass
public-hoist-pattern[]=postcss
public-hoist-pattern[]=imagemin*
public-hoist-pattern[]=favicons
