@use '../../Constants';

$redirect: Constants.$prefix + 'redirect';
$prefix: $redirect + '-';

$scrim: $prefix + 'scrim';
$closeBox: $prefix + 'close-box';
$wrapper: $prefix + 'wrapper';
$dialog: $prefix + 'dialog';

$margin: 1em;
$scrimColor: hsla(0, 0%, 25%, 0.85);

.#{$redirect}.#{$scrim} {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  z-index: 2000;
  overflow: hidden;

  background: $scrimColor;
  backdrop-filter: blur(5px);

  .#{$closeBox} {
    padding: 0;
    margin: 1em;
    color: white;
    text-shadow: 0px 0px 5px $scrimColor;
    font-size: 2em;
    text-align: right;
    line-height: 0.7em;
    cursor: pointer;
  }

  .#{$wrapper} {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: calc(100% - 2 * $margin);
    height: calc(100% - 2 * $margin);

    .#{$dialog} {
      background: white;
      color: black;
      border: solid 1px $scrimColor;
      border-radius: 1em;
      padding: 2em;
      max-width: 4in;
    }
  }
}
