@import '../../Constants';

#{$googleDocEmbed} {
  $highlight: #337ab7;

  .#{$prefix}highlight {
    animation: 0.25s fadeOut 8;
  }

  @keyframes fadeOut {
    0% {
      text-shadow: transparent;
    }

    50% {
      text-shadow: $highlight 0 0 0.25em;
    }
    100% {
      text-shadow: transparent;
    }
  }
}
