@use '../Constants';

/**
 * Add space after paragraphs in embedded Google Docs
 */
#{Constants.$googleDocEmbed} {
  .title img {
    margin-top: 10px !important;
  }

  h1 img {
    margin-top: -16px !important;
  }

  h2 img {
    margin-top: -14.5px !important;
  }

  h3 img {
    margin-top: -14px !important;
  }

  h4 img {
    margin-top: -11px !important;
  }

  h5 img {
    margin-top: -10px !important;
  }

  h6 img {
    margin-top: -9.5px !important;
  }

  p img {
    margin-top: 9px !important;
  }
}
