@use '../Constants';

/**
 * Link groups to label
 *
 * Formatted as:
 * ```
 *  end-of-url label label-color text-color border-color
 * ```
 *
 * Colors can be omitted, but not skipped
 *
 * `end-of-url` - pattern to match end of URL
 * `label` - text to display in label
 * `label-color` (Optional) defaults to Groton red
 * `text-color` (Optional) defaults to white
 * `border-color` (Optional) defaults to text-color, if present, or transparent
 */
$groups: 'for-teachers/' 'Faculty',
  'for-students/' 'Students' white Constants.$grotonRed, 'for-staff/' 'Staff';

@each $url, $label, $color, $text, $border in $groups {
  a[href$='#{$url}'] {
    div.media.well::before {
      content: $label;
      color: $text or white;
      background: $color or Constants.$grotonRed;
      position: absolute;
      top: 0;
      right: 0;
      font-size: small;
      border-radius: 0 7px;
      border: solid 1px ($border or $text or transparent);
      padding: 0.25em 0.75em;
      margin: 0 5px 0 0;
    }
  }
}
