.CMSgoogledocembed {
  --permalink-selected: rgb(255, 216, 78);

  a.gs-permalink {
    margin-left: 0.5em;
    font-size: small;
  }

  h1.gs-selected:has(> a.gs-permalink),
  h2.gs-selected:has(> a.gs-permalink),
  h3.gs-selected:has(> a.gs-permalink),
  h4.gs-selected:has(> a.gs-permalink),
  h5.gs-selected:has(> a.gs-permalink),
  h6.gs-selected:has(> a.gs-permalink) {
    animation: 2s fadeOut 1;
  }
}

@keyframes fadeOut {
  0% {
    background: var(--permalink-selected);
  }
  50% {
    background: var(--permalink-selected);
  }
  100% {
    background: transparent;
  }
}
