#gs-toc {
  border-bottom: solid 1px darkgray;
  padding: 1em;
  padding-bottom: 2em;
  margin-top: 2em;
  margin-bottom: 1em;
  margin-right: 1em;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5em;
  }

  $indent: 0.5em;
  @mixin define-depth($depth) {
    .gs-h#{$depth} {
      margin-left: $indent * ($depth - 1);
    }
  }
  @for $i from 1 through 6 {
    @include define-depth($i);
  }
  .gs-h1 {
    font-weight: bold;
  }
}

#gs-toc:not(:has(a)) {
  display: none;
}
