#gs-toc {
  margin: 2em 0 1em 1em;

  div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0.5em;
  }

  $indent: 0.5em;
  @mixin define-depth($depth) {
    .gs-h#{$depth} {
      margin-left: $indent * $depth;
    }
  }
  @for $i from 1 through 6 {
    @include define-depth($i);
  }
  .gs-h1 {
    font-weight: bold;
  }
}

#gs-toc::before {
  content: 'On this page';
}

#od-subnav::before {
  content: 'Other topics';
}

#gs-toc::before,
#od-subnav::before {
  font-size: small;
  color: darkgray;
  display: block;
  margin-bottom: 1em;
}

#gs-toc:not(:has(a)) {
  display: none;
}
