@use '../../Constants';

/**
 * Link groups to label
 *
 * Formatted as:
 * ```
 *  end-of-url label label-color text-color border-color
 * ```
 *
 * Colors can be omitted, but not skipped
 *
 * `end-of-url` - pattern to match end of URL
 * `label` - text to display in label
 * `label-color` (Optional) defaults to Groton red
 * `text-color` (Optional) defaults to white
 * `border-color` (Optional) defaults to text-color, if present, or transparent
 */
// TODO make configurable
$groups: 'for-teachers/' 'Faculty',
  'for-students/' 'Students' white Constants.$primaryColor, 'for-staff/' 'Staff',
  'for-employees/' 'Faculty & Staff', 'for-department-heads/' 'Dept. Heads',
  'for-it/' 'IT' gold black;

@each $url, $label, $color, $text, $border in $groups {
  a[href$='#{$url}'] {
    .badge {
      background: $color or Constants.$primaryColor;
      border: solid 1px ($border or $text or transparent);

      .label::before {
        content: $label;
        color: $text or white;
      }
    }
  }
}

nav {
  a {
    .badge {
      display: none;
    }
  }
}
