@use 'styles';

:export {
  embiggen: #{styles.$embiggen};
  image: #{styles.$image};
  original: #{styles.$original};
  scrim: #{styles.$scrim};
  closeBox: #{styles.$closeBox};
  wrapper: #{styles.$wrapper};
  zoomed: #{styles.$zoomed};
}
