:root {
  // TODO Prefix `--ui-bgcolor` consistently
  --ui-bgcolor: transparent;
}

.title {
  // TODO Prefix `.ui-thumbnail-image` consistently
  .ui-thumbnail-image {
    height: 2em;
  }
}

.page {
  .thumbnail {
    background: var(--ui-bgcolor);
  }
}
