@use '../../../Constants';

$thumbnail: Constants.$prefix + 'thumbnail';
$thumbnailImage: Constants.$prefix + 'thumbnail-image';
$bgcolor: '--' + Constants.$prefix + 'bgcolor';

:root {
  --dom-content-directory-thumbnail: #{$thumbnail};
  --dom-content-directory-thumbnailImage: #{$thumbnailImage};
  --dom-content-directory-bgcolor: #{$bgcolor};
}

:export {
  thumbnail: #{$thumbnail};
  thumbnailImage: #{$thumbnailImage};
  bgcolor: #{$bgcolor};
}

:root {
  #{$bgcolor}: transparent;
}

.title {
  .#{$thumbnailImage} {
    height: 2em;
  }
}

.page {
  .#{$thumbnail} {
    background: var(#{$bgcolor});
  }
}
