:root {
  // TODO Prefix `--ui-bgcolor` consistently
  --ui-bgcolor: transparent;
}

.title {
  img,
  canvas {
    height: 2em;
  }
}

.page {
  .thumbnail {
    background: var(--ui-bgcolor);
  }
}
