@use '../Constants';

$primary: Constants.$primaryColor;

@import 'bootstrap';

body {
  font-family: Arial, Roboto, Helvetica, sans-serif; // TODO config

  // TODO configure
  background: url(#{Constants.$background}) no-repeat fixed; // TODO config
  background-size: cover;

  #wrapper {
    position: fixed;
    top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
    width: 100%;
  }
}
