#tree {
  .page {
    margin: calc(0.25 * var(--spacing)) 0;

    a {
      .title {
        font-weight: bold;
      }

      .description {
        margin: 0 0 0 var(--spacing);
        font-size: smaller;
        text-decoration: none;
      }
    }
  }
}
